#* * * * * root echo "Hello world" >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.

* 8,20 * * * root cd /home/root/yield-curve-generator && python excel_generator.py >> /var/log/cron.log 2>&1
